{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'resources'|trans|capitalize }}</div>
                <turbo-frame class="card-body" id="map_available_activities" {{ custom_turbo_stream_listen('mapAvailableActivities_' ~ player.position) }}>
                    {% for entity in spawnedResources %}
                        {% set id = entity.id %}
                        {{ block('create', 'map/MapAvailableActivity.stream.html.twig') }}
                    {% endfor %}
                </turbo-frame>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'recipes'|trans|capitalize }}</div>
                <div class="card-body">
                    <turbo-frame id="recipes">
                        {% for recipe in recipes %}
                            {{ component('Crafting:Recipe', {recipe: recipe, playerCharacter: player}) }}
                        {% endfor %}
                    </turbo-frame>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {% set bag = player.backpack %}
            <div class="card">
                <div class="card-header bg-info">
                    {{ 'backpack'|trans|capitalize }}
                    <div>
                        <turbo-frame class="progress" id="item_bag_fullness_{{ bag.id }}">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ bag.fullness*100 }}%;"></div>
                        </turbo-frame>
                    </div>
                </div>
                <turbo-frame class="card-body d-flex flex-wrap" id="item_bag_items_{{ bag.id }}">
                    {% for itemInstance in bag.items %}
                        {% include 'item_bag/item_row.html.twig' %}
                    {% endfor %}
                </turbo-frame>
            </div>
            {% set bag = player.equipment %}
            <div class="card">
                <div class="card-header bg-info">
                    {{ 'equipped items'|trans|capitalize }}
                    <div>
                        <turbo-frame class="progress" id="item_bag_fullness_{{ bag.id }}">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ bag.fullness*100 }}%;"></div>
                        </turbo-frame>
                    </div>
                </div>
                <turbo-frame class="card-body d-flex flex-wrap" id="item_bag_items_{{ bag.id }}">
                    {% for itemInstance in bag.items %}
                        {% include 'item_bag/item_row.html.twig' %}
                    {% endfor %}
                </turbo-frame>
            </div>

            <div class="card">
                <div class="card-header bg-info">
                    {{ 'mobs'|trans|capitalize }}
                </div>
                <turbo-frame class="card-body" id="map_spawned_mobs" {{ custom_turbo_stream_listen('map_spawned_mobs_' ~ player.position) }}>
                    {% for entity in spawnedMobs %}
                        {% set id = entity.id %}
                        {{ block('create', 'map/spawned_mob_list.stream.html.twig') }}
                    {% endfor %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}