{% extends 'layout.html.twig' %}

{% block main %}
{#    <div {{ custom_turbo_stream_listen('playerActivity') }}></div>#}
    <div {{ custom_turbo_stream_listen('update_item_bag_' ~ player.backpack.id) }}></div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'activities'|trans|capitalize }}</div>
                <turbo-frame class="card-body" id="map_available_activities" {{ custom_turbo_stream_listen('mapAvailableActivities_' ~ player.position) }}>
                    {% for entity in mapAvailableActivities %}
                        {% set id = entity.id %}
                        {{ block('create', 'map/MapAvailableActivity.stream.html.twig') }}
                    {% endfor %}
                </turbo-frame>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'recipes'|trans|capitalize }}</div>
                <div class="card-body">
                    <turbo-frame id="recipes">
                        {% for recipe in recipes %}
                            {% include 'map/recipe_row.html.twig' %}
                        {% endfor %}
                    </turbo-frame>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">
                    <div>
                        <div class="progress" id="item_bag_fullness_{{ player.backpack.id }}">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ player.backpack.fullness*100 }}%;"></div>
                        </div>
                    </div>
                    {{ 'backpack'|trans|capitalize }}
                </div>
                <div class="card-body d-flex flex-wrap" id="item_bag_items_{{ player.backpack.id }}">
                    {% for entity in player.backpack.items %}
                        {% set id = entity.id %}
                        {% include 'item_bag/item_row.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}