{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'activities'|trans|capitalize }}</div>
                <turbo-frame class="card-body" id="map_available_activities" {{ custom_turbo_stream_listen('mapAvailableActivities_' ~ player.position) }}>
                    {% for entity in spawnedResources %}
                        {% set id = entity.id %}
                        {{ block('create', 'map/MapAvailableActivity.stream.html.twig') }}
                    {% endfor %}
                </turbo-frame>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'recipes'|trans|capitalize }}</div>
                <div class="card-body">
                    <turbo-frame id="recipes">
                        {% for recipe in recipes %}
                            {% include 'map/recipe_row.html.twig' %}
                        {% endfor %}
                    </turbo-frame>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">
                    {{ 'backpack'|trans|capitalize }}
                    <div>
                        <turbo-frame class="progress" id="item_bag_fullness_{{ player.backpack.id }}">
                            {% include 'item_bag/space.stream.html.twig' with {bag: player.backpack} %}
                        </turbo-frame>
                    </div>
                </div>
                <div class="card-body d-flex flex-wrap" id="item_bag_items_{{ player.backpack.id }}">
                    {% include 'item_bag/items_update.stream.html.twig' with {bag: player.backpack} %}
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-info">
                    {{ 'mobs'|trans|capitalize }}
                </div>
                <turbo-frame class="card-body" id="map_spawned_mobs" {{ custom_turbo_stream_listen('map_spawned_mobs_' ~ player.position) }}>
                    {% for entity in spawnedMobs %}
                        {% set id = entity.id %}
                        {{ block('create', 'map/spawned_mob_list.stream.html.twig') }}
                    {% endfor %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}