{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'field'|trans|capitalize }}</div>
                <turbo-frame id="map_objects" class="card-body" {{ custom_turbo_stream_listen('map_objects_' ~ player.map.id) }} src="{{ path('app_map_field') }}" loading="lazy">
                </turbo-frame>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'recipes'|trans|capitalize }}</div>
                <div class="card-body">
                    <turbo-frame id="recipes">
                        {% for recipe in recipes %}
                            {{ component('Render:RecipeRenderTemplate', {recipe: recipe}) }}
                        {% endfor %}
                    </turbo-frame>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {% set bag = player.backpack %}
            <div class="card">
                <div class="card-header bg-info">
                    {{ 'backpack'|trans|capitalize }}
                    <div>
                        <turbo-frame class="progress" id="item_bag_fullness_{{ bag.id }}" turbo->
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ bag.fullness*100 }}%;"></div>
                        </turbo-frame>
                    </div>
                </div>
                <turbo-frame class="card-body d-flex flex-wrap" id="item_bag_content_{{ bag.id }}" src="{{ path('app_itemBag_content', {id: bag.id}) }}" loading="lazy">
                </turbo-frame>
            </div>
            {% set bag = player.equipment %}
            <div class="card">
                <div class="card-header bg-info">
                    {{ 'equipped items'|trans|capitalize }}
                    <div>
                        <turbo-frame class="progress" id="item_bag_fullness_{{ bag.id }}">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ bag.fullness*100 }}%;"></div>
                        </turbo-frame>
                    </div>
                </div>
                <turbo-frame class="card-body d-flex flex-wrap" id="item_bag_content_{{ bag.id }}" src="{{ path('app_itemBag_content', {id: bag.id}) }}">
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}