{% block create %}
    <turbo-stream action="append" target="map_objects">
        <template>
            <div id="map_object_{{ id }}" class="animate__animated animate__zoomIn animate__faster">
                {{ game_object_render(entity) }}
            </div>
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="replace" target="map_object_{{ id }}" method="morph">
        <template>
            <div id="map_object_{{ id }}">
                {{ game_object_render(entity) }}
            </div>
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="replace" target="map_object_{{ id }}">
        <template>
            <div id="map_object_{{ id }}" class="animate__animated animate__zoomOut animate__faster" style="transition: height .5s;">
                {{ game_object_render(entity) }}
                <script>
                    document.getElementById('map_object_{{ id }}').style.height = document.getElementById('map_object_{{ id }}').offsetHeight + 'px';
                    setTimeout(function(){
                        document.getElementById('map_object_{{ id }}').style.height = 0;
                        setTimeout(function(){
                            document.getElementById('map_object_{{ id }}').remove();
                        }, 500);
                    }, 500);
                </script>
            </div>
        </template>
    </turbo-stream>
{% endblock %}
