{% block create %}
    <turbo-stream action="append" target="map_objects">
        <template>
            <div id="map_object_{{ id }}" class="animate__animated animate__zoomIn animate__faster">
                {{ game_object_render(entity) }}
            </div>
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="update" target="map_object_{{ id }}">
        <template>
            {{ game_object_render(entity) }}
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="remove" target="map_object_{{ id }}">
        <template></template>
    </turbo-stream>
{% endblock %}
