{% block success %}
<turbo-stream action="append" target="notifications">
    <template>
        <div id="notification-{{ id }}" class="my-1 animate__animated animate__fadeOut animate__slideOutUp animate__slow">
            <span class="badge bg-success">{{ message|raw }}</span>
            <script>
                setTimeout(function(){
                    const notification = document.getElementById('notification-{{ id }}');
                    if(notification){
                        notification.remove();
                    }
                }, 7000);
            </script>
        </div>
    </template>
</turbo-stream>
{% endblock %}
{% block danger %}
    <turbo-stream action="append" target="notifications">
        <template>
            <div id="notification-{{ id }}" class="my-1 animate__animated animate__fadeOut animate__slideOutUp animate__slow">
                <span class="badge bg-danger">{{ message|raw }}</span>
                <script>
                    setTimeout(function(){
                        const notification = document.getElementById('notification-{{ id }}');
                        if(notification){
                            notification.remove();
                        }
                    }, 7000);
                </script>
            </div>
        </template>
    </turbo-stream>
{% endblock %}