<div class="bg-dark border-primary rounded my-1">
    <div class="row align-items-center">
        <div class="col-auto">
            {% block icon %}
            <div style="width: 5em; height: 5em;">
                <img src="{{ asset('images' ~ render.iconPath) }}" alt="{{ render.name }}" class="h-100">
            </div>
            {% endblock %}
        </div>
        <div class="col">
            {% block name %}
            <div class="fw-bold">{{ render.name }}</div>
            {% endblock %}
            {% block moreInfo %}
                <div>
                    {% if this.attachedResourceComponent %}
                        <div class="d-flex">
                            <div class="small badge bg-white text-black">{{ this.attachedResourceComponent.availability }}</div>
                            <div class="w-100">
                                {% include 'parts/progressBar.html.twig' with {percentage: this.attachedResourceComponent.availability/this.attachedResourceComponent.maxAvaliability} %}
                            </div>
                        </div>
                    {% endif %}
                    {% if this.characterComponent %}
                        <div class="d-flex">
                            <div class="small badge bg-white text-black">{{ math_stat_view(this.characterComponent.health) }}</div>
                            <div class="w-100">
                                {% include 'parts/progressBar.html.twig' with {percentage: this.characterComponent.health/this.characterComponent.maxHealth } %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        <div class="col-lg-3 ms-auto">
            {{ component('Interaction', {interactions: this.interactions, asDropdown: false}) }}
        </div>
    </div>
</div>
