<div class="bg-dark border-primary rounded m-1 row">
    <div style="width: 5em; height: 5em;" class="col-auto">
        {{ component('Render:ItemRenderTemplate', {item: this.item}) }}
    </div>
    <div class="col">
        <div>{{ recipe.name }}</div>
        <div>{{ recipe.description }}</div>
    </div>
    <div class="col-12">
        <div class="d-flex align-items-center">
            {% for ingredient in this.ingredients %}
                <div class="ms-auto">
                    {{ component('Render:ItemRenderTemplate', {item: ingredient}) }}
                </div>
            {% endfor %}
            <div class="activity_panel ms-2">
                <div class="ms-auto">
                    <a href="{{ path('app_map_craft', {id: recipe.id}) }}" class="btn btn-primary activity_event_starter">{{ 'craft'|trans|upper }}</a>
                </div>
            </div>
        </div>
    </div>
</div>