<div class="bg-dark border-primary rounded m-1 row">
    <div style="width: 5em; height: 5em;" class="col-auto">
        {% for reward in recipe.itemRewards %}
            {{ component('Item:Prototype', {id: reward.itemPrototypeId}) }}
        {% endfor %}
    </div>
    <div class="col">
        <div>{{ recipe.name }}</div>
        <div>{{ recipe.description }}</div>
    </div>
    <div class="col-12">
        <div class="d-flex align-items-center">
            {% for ingredient in recipe.ingredients %}
                <div class="ms-auto">
                    {{ component('Item:Prototype', {id: ingredient.itemPrototypeId, quantity: ingredient.quantity, maskedDanger: false}) }}
                </div>
            {% endfor %}
            <div class="activity_panel ms-2">
                <div class="ms-auto">
                    <a href="{{ path('app_map_craft', {id: recipe.id}) }}" class="btn btn-primary activity_event_starter">{{ 'craft'|trans|upper }}</a>
                </div>
            </div>
        </div>
    </div>
</div>