{% extends 'base.html.twig' %}

{% block body %}
    <div class="row h-100">
        <div class="col-auto position-relative">
            <div class="bg-dark h-100 px-1" id="sidebarLeft">
                <ul class="nav nav-leftline flex-column h-100 align-items-center">
                    <li class="nav-item w-100">{{ 'place'|trans|upper }}</li>
                    <li class="nav-item mt-auto w-100">
                        <a class="h3 nav-link" href="{{ path('app_logout') }}">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="nav bg-dark">
                <div class="nav--item">
                    {{ 'player'|trans|upper }}: {{ app.user.name }}
                </div>
            </div>
            <div class="p-2">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
    <turbo-frame id="notifications" class="position-absolute bottom-50 end-50"
            {{ custom_turbo_stream_listen('notification_' ~ app.user.id) }}
    >
    </turbo-frame>
    <turbo-frame id="player_current_activity" class="position-fixed bottom-0 w-100"
            {{ custom_turbo_stream_listen('player_current_activity_' ~ app.user.name) }}
    >
    </turbo-frame>
{% endblock %}