{% extends 'base.html.twig' %}

{% block body %}
    <div class="row h-100">
        <div class="col-auto position-relative">
            <div class="bg-dark h-100 px-1" id="sidebarLeft">
                <ul class="nav nav-leftline flex-column h-100 align-items-center">
                    <li class="nav-item w-100">{{ 'place'|trans|upper }}</li>
                    <li class="nav-item mt-auto w-100">
                        <a class="h3 nav-link" href="{{ path('app_logout') }}">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="nav bg-dark position-sticky" style="top: 0; z-index: 2">
                <div class="nav--item">
                    {{ 'player'|trans|upper }}: {{ app.user.name }}
                </div>
                <div class="nav--item w-25">
                    <turbo-frame id="player_health_{{ app.user.id }}">
                        {{ component('Health:Bar', {gameObject: app.user}) }}
                    </turbo-frame>
                </div>
            </div>
            <div class="p-2">
                <turbo-frame id="page">
                    {% block main %}{% endblock %}
                </turbo-frame>
            </div>
        </div>
    </div>
    <turbo-frame id="notifications" class="position-fixed bottom-50 end-50">
    </turbo-frame>
    <turbo-frame id="player_current_activity" class="position-fixed bottom-0 w-100">
    </turbo-frame>
{% endblock %}