<div class="bg-dark border-primary rounded my-1 fade-from-small">
    <div class="row align-items-center">
        <div class="col-auto">
            <div style="width: 3em; height: 3em;">
                <img src="{{ asset('images' ~ entity.icon) }}" alt="{{ entity.name }}" class="h-100">
            </div>
        </div>
        <div class="col">
            <span class="fw-bold">{{ entity.name }}</span>
        </div>
        <div class="col">
            <span>{{ 'quantity'|trans|lower }}:</span>
            <span class="fw-bold">{{ entity.quantity }}</span>
        </div>
        <div class="col ms-auto">
            <a href="{{ path('app_map_activity_start', {id: entity.id}) }}" class="btn btn-primary">{{ 'gather'|trans|upper }}</a>
        </div>
    </div>
</div>